@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/inter.ttf);
}


@layer components {
    .col {
        @apply border-r border-slate-300 dark:border-zinc-600 dark:bg-zinc-900
        text-black dark:text-white h-screen cursor-pointer
    }

    .col-entire-section {
        @apply relative
    }

    .col-spacer {
        @apply border border-gray-200 bg-slate-400
    }

    /* Animates and expands the content box width*/
    .col-content-expand {
        width: 100%;
        animation: 1s column-spacer-expand;
    }

    /* Animates and SHRINKS the content box width*/
    .col-content-shrink {
        width: 100px;
        animation: 1s column-spacer-shrink;
    }

    /* CSS for the header part of the column that includes the rotated title */
    .col-header {
        @apply  h-screen grid place-content-center min-w-[100px] max-w-[100px] border-r border-gray-600
    }

    /* Rotated title in the header section */
    .col-header-title {
        @apply font-inter text-3xl font-bold uppercase rotate-[270deg]
    }


    .col-content {
        @apply grid place-content-center h-screen z-50 ml-[100px]
    }

    .col-text {
        @apply min-w-[400px] max-w-[400px]
    }
    .col-content-visible {
        opacity: 1;
        animation: 1s enable-content-opacity ease-out;
    }

    .col-content-hidden {
        opacity: 0; 
        animation: 1s disable-content-opacity ease-out;
    }

    .font-inter {
        font-family: Inter, sans-serif;
    }
}

@keyframes column-spacer-expand {
    from { width: 100px; }
    to { width: 100%; }
}

@keyframes column-spacer-shrink {
    from { width: 100%; }
    to { width: 100px; }
}

@keyframes disable-content-opacity {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes enable-content-opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}