@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer components {
    .col {
        @apply border-r border-slate-300 dark:border-zinc-600 dark:bg-zinc-900
            text-black dark:text-white h-screen cursor-pointer
    }
    
    .col-full {
        width: 100%;
        animation-name: WidthFull;
        animation-duration: 1s;
    }
    
    .col-fit {
        width: 100px;
        animation-name: WidthFit;
        animation-duration: 1s;
    }

    .col-fit div {
        display: hidden;
    }

    .column-header {
        @apply rotate-[270deg] transform-gpu h-screen grid place-content-center
    }

    .column-content {
        @apply w-full grid h-screen place-content-center
    }

    .column-content-visible {
        animation: 1s ShowContent;
    }

    .column-content-hidden {
        opacity: 0;
        animation: 0.4s HideContent;
    }
}

@keyframes WidthFull {
    from { width: 100px; }
    to { width: 100%; }
}

@keyframes WidthFit {
    from { width: 100%; }
    to { width: 100px; }
}

@keyframes HideContent {
    from { 
        opacity: 1;
    }

    to {
        opacity: 0;
        display: hidden;
    }
}

@keyframes ShowContent {
    from { 
        opacity: 0;
        display: hidden;
    }

    to {
        opacity: 1;
    }
}